<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
   <div id="wrap">
     <header id="header">
       <div class="inner">
         <h1 id="logo"><%= link_to "Sample My Blog", posts_path %></h1>
         <p id="catchcopy">Description or something .....</p>	 
       </div>
     </header>

     <div id = "main">
       <%= yield %>
     </div>

   </div>
  </body>
</html>
